@charset "UTF-8";

/*
Style Name: mzmjp.net:2013
Autohr: mzmjp
URL: http://mzmjp.net/
Created: 2013-03-17
*/

body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #39a1c5;
	background-image: url(../img/bg.png);
}

h1 {
	margin: 10px auto 10px;
	color: #fffce2;
	font-size: 300%;
	text-align: center;
	text-shadow: 0 2px 0 rgba(0,0,0,.5);
}

ul {
	width: 90%;
	margin: 0 auto;
	padding: 10px 0;
	list-style-type: none;
	background: #fffce2;
	box-shadow: 0 3px 6px 1px rgba(0,0,0,.5);
	border-radius: 10px;
}

li {
	color: #333;
	font-size: 170%;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

a:link, a:visited{
	color: #161400;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

footer {
	margin: 10px 0 8px;
	font-size: 100%;
	text-align: center;
}

@media screen and (min-width: 768px) {

body {
	margin: 0 auto;
	width: 100%;
}

h1 {
	margin: 30px 0 20px;
	font-size: 400%;
}

ul {
	width: 60%;
}

li {
	font-size: 300%;
}

a:link, a:visited{
	color: #161400;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

footer {
	margin: 20px 0 0;
	font-size: 120%;
}

} /* /min-width: 768px; */