#MIME??????
AddType "text/html; charset=utf-8" .html
AddType image/svg+xml .svg
AddType image/svg+xml .svgz

#????????gzip??????
AddOutputFilterByType DEFLATE text/html text/css application/x-javascript

RewriteEngine On
RewriteCond %{HTTPS} off [OR,NC]
RewriteCond %{HTTP_HOST} ^www.mzmjp\.net$
RewriteRule ^(.*)$ https://mzmjp.net/$1 [R=301,L]
